@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.debug {
	border: 2px solid red !important;
	& > * {
		border: 2px solid green !important;
		& > * {
			border: 2px solid blue !important;
		}
	}
}
